<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Detail Page {{topic_id}}</h1>
    </p>
</body>


<script>

    const apiUrl = "http://time-series.mopd.gov.et/api/mobile/topic-detail/{{topic_id}}/";


    fetch(apiUrl)
        .then(response => response.json())
        .then(data => {
            (data);
            // You can add code here to display the data on the page
        })
        .catch(error => {
            console.error("Error fetching data:", error);
        });

</script>

</html>